<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Meter Reading Platform</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Smart Meter Reading Platform</h1>
        
        <div class="button-group">
            <button onclick="location.href='/register'">Register New Account</button>
            <button onclick="location.href='/collect'">Collect Meter Readings</button>
            <button onclick="location.href='/query_usage'">Query Power Usage</button>
        </div>

        <div class="result-container">
            <h2>Reading Results</h2>
            <pre id="meterReadingResult"></pre>
        </div>
    </div>


</body>
</html>